/* colors:

color: #36393E Chrome incog dark

color: #F5F7F9 white background
color: #343A40 dark grey secondary
color: #064789 dark blue
color: #2274A5 link blue
color: #E7DFC6 tan
*/


body{
  background-color: #36393E!important;
  color: #ffffff!important;
}

footer{
  font-size: 1.25rem;
  background-color: #343a40!important;
  color: #ffffff!important;
}

footer i{
  color: white;
}

footer i:hover{
  color: #2274A5;
}

h1{font-size: 2.25rem!important;}

#cover-image{
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  padding: 1px;
  background-color: #ffffff;
}

.custom-range{display: block;  margin-left: auto; margin-right: auto;}

#settings-label{display: block;  margin-left: 12.5% ; margin-right: auto;}

.aperture-button{width: 150%!important}
.shutter-speed-button{width: 115%!important}

 
/* Tablet */
@media (min-width: 601px) and (max-width: 1100px) {
    #cover-image{max-width: 80%;}
  }

 /* Mobile */
 @media only screen and (max-width: 600px) {
    #cover-image{max-width: 90%;}
    h1{font-size: 1.25rem!important;}
    .display-4{font-size: 2rem!important;}
    #description{font-size: 1.2rem!important;}
  }